
@media only screen and (min-width : 993px) {
  .widenav {
    width: 20vw;
  }
  header, main, footer {
    padding-left: 20vw;
  }

}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 4vw;
  }
  .widenav {
    min-width: 30vw;
  }

  .sideblock{
    width:25vw;
  }
}
@media only screen and (min-width: 601px){
  .sectitle{
    padding-left: 8.333333vw;
  }
}
@media only screen and (max-width: 600px){
  .sectitle{
    padding-left: 4vw;
  }
}
.grayscaled{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);
 transition-property: filter;
transition-duration: 0.5s;
transition-delay: 0s;
}

.grayscaled:hover{
  filter:  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
}
.sideimg{
  background-image: url("../img/bg-side-tall.png"); /* The image used */
  background-size: cover; /* Resize the background image to cover the entire container */
   height:100%;
   z-index:1;
}
.sideblock{
  position:fixed;
  top: 0px;
   right: 0px;
   width:20%;
}

.sideblockswipe{
  background-image: url("../img/bg-side-tall.png"); /* The image used */
  background-size: cover; /* Resize the background image to cover the entire container */
  position:fixed;
  top: 0px;
   left:0px;
   width:4vw;
   height:100%;
   z-index:3;
}
.primary-back{
background:#EBF1E4;
}
.secondary-back{
background:#FAFFF4;
}
.tertiary-back{
  background:#F9FAF6;
}
.accentuated{
  color:#68C3D4;
}
.oswald{
  font-family: Oswald, sans-serif;
}
.underlined{
  /*border-bottom: 1px solid rgb(0,0,0,0.14);
    border-top: 1px solid rgb(0,0,0,0.14);*/
    width:100%;
    z-index:1;
    background: #FAFFF4;
    height:150px;
}
.underlined > h1{
  line-height: 150px;
  margin:0;
  vertical-align: baseline;
}
.pinned + .col{
 padding-top: 150px; /* height of pinned navbar */
}
.pin-bottom + div {
padding-top: 150px; /* height of pinned navbar */
}
.table-of-contents a:hover{
  border-left:1px solid #68C3D4;
}
.table-of-contents a.active{
  border-left:2px solid #68C3D4;
}

.cvsection{
margin-bottom:0px;
}
.section{
  padding-top:0px;
    padding-bottom:0px;
}

.cventry{
  margin:5vh 0 0vh 0;
}
.entrylogo{
  display:inline-block;
  margin-right:20px;
}
.entrycontent{
  width:100%;
  display:inline-block;
  border-right: solid 1px rgb(0,0,0,0.14);
  padding-right:5px;
}
.entrydate{
  text-align:left;
  font-family:Oswald, sans-serif;
    font-size: x-large;
    opacity:0.7;
    font-weight: 300;
    margin-left:0px!important;
}
.edlvl{
  margin:0 0 8px 0px
}
.edspe, .edloc{
  margin:8px 0 8px 0px
}
.heavy{
  font-weight: 400;
}
html{
  background:#FAFFF4;
  color:#001918;
}
html, body {
    max-height: 100%;
}
h1{
  margin-top:1rem;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}
