

.sideblock{
  position:fixed;
  top: 0px;
   right: 0px;
   width:4vw;
}
@media only screen and (min-width : 993px) {
  .widenav {
    width: 40vw;
  }
  header, main, footer {
    padding-left: 40vw;
    width:100%;
  }
  .sideblock{
      width:1vw;
  }
}
@media only screen and (min-width : 1201px) {
  .widenav {
    width: 50vw;
  }
  header, main, footer {
    padding-left: 50vw;
    width:100%;
  }

}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 4vw;
    width:100%;
  }
}
.grayscaled{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 filter: grayscale(100%);
 transition-property: filter;
transition-duration: 0.5s;
transition-delay: 0s;
}

.grayscaled:hover{
  filter:  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
   filter: grayscale(0%);
}
.sideimg{
  background-image: url("../img/bg-side-tall.png"); /* The image used */
  background-size: cover; /* Resize the background image to cover the entire container */
   height:100vh;
   z-index:1;
}

.sideblockswipe{
  background-image: url("../img/bg-side-tall.png"); /* The image used */
  background-size: cover; /* Resize the background image to cover the entire container */
  position:fixed;
  top: 0px;
   left:0px;
   width:4vw;
   height:100vh;
   z-index:3;
}
.primary-back{
background:#F7FFFF;
}
.secondary-back{
background:#F7FFFF; /*FAFFF4;*/
}
.tertiary-back{
  background:#EBF2F2;
}
.accentuated{
  color:#68C3D4/*68C3D4*/;
}
.oswald{
  font-family: Oswald, sans-serif;
}
.underlined{
  border-bottom: 1px solid rgb(0,0,0,0.14);
  /*  border-top: 1px solid rgb(0,0,0,0.14);*/
    z-index:1;
    height:125px;
}
.underlined > h1{
  line-height: 125px;
  margin:0;
  vertical-align: baseline;
}
.pinned + .spacer{
 padding-top: 125px; /* height of pinned navbar */
}

.spacer{padding-bottom:50px;
}
/*
.pin-bottom + div {
padding-top: 125px;
} */

#skills-cont{
  padding-top:50px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.skillbar{
  margin-top:1.25rem;
  background-color: #F4DBDF;
}
.progress .determinate{
  background-color: #C33C54;
}
.skillname{
  text-align: right;
}
.cvsection{
margin-bottom:0px;
min-height: 101vh;
}
.section{
  padding-top:0px;
    padding-bottom:0px;
}

.entrylogo{
  display:inline-block;
  margin-right:20px;
}
.entrycontent{
  width:100%;
  display:inline-block;
  border-right: solid 1px rgb(0,0,0,0.14);
}
.entrydate{
  text-align:center;
  font-family:Oswald, sans-serif;
    font-size: x-large;
    opacity:0.7;
    font-weight: 200;
    margin-left:0px!important;
}
.edlvl{
  font-family: 'Roboto Condensed';
font-weight: 300;
color:#56A0AE;
}
.heavy{
  font-weight: 400;
}
h4.header{
  margin-bottom: 2rem;
}
html{
  background:#F7FFFF;
  color:#323237;
}
html, body {
    max-height: 100vh;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}
